.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    /* background: url('background-image.jpg') no-repeat center center; */
    background-size: cover; /* Para ajustar a imagem de fundo */
}