body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
}

.ant-layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}